@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/*------------------
    VARIABLES
-------------------*/
:root {
  --primary-color: #3535ec;
  --secondary-color: #00de6b;
}
/*------------------
    RESET
-------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------
      GENERAL
-------------------*/
.container {
  max-width: 30rem;
  margin: auto;
  padding: 1.25rem 0;
}

/*-----------
  TYPO
------------*/
body {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #e5e5e5;
}

/*-----------
  ACCORDION LIST
------------*/
.accordion-list > *:not(:last-child) {
  margin-bottom: 1rem;
}

/*-----------
  ACCORDION
------------*/
.accordion {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.accordion > * {
  padding: 0.75rem;
}

.accordion__title {
  background-color: #efefef;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__btn {
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}