img{
    float: left;
    margin-right: 10px;
}

.img-right{
    float: right;
}

.container{
    border: 3px solid lightgreen;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}